src/conf/xml-resources/web-service-references/LocalService/wsdl/localhost_21823/MisOfertasWebService/LocalService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="Crear_local" type="tns:Crear_local"/>

<xs:element name="Crear_localResponse" type="tns:Crear_localResponse"/>

<xs:element name="Eliminar_local" type="tns:Eliminar_local"/>

<xs:element name="Eliminar_localResponse" type="tns:Eliminar_localResponse"/>

<xs:element name="Listado_local" type="tns:Listado_local"/>

<xs:element name="Listado_localResponse" type="tns:Listado_localResponse"/>

<xs:element name="Modificar_local" type="tns:Modificar_local"/>

<xs:element name="Modificar_localResponse" type="tns:Modificar_localResponse"/>

<xs:element name="ciudad" type="tns:ciudad"/>

<xs:element name="empresa" type="tns:empresa"/>

<xs:element name="estado" type="tns:estado"/>

<xs:element name="local" type="tns:local"/>

<xs:element name="region" type="tns:region"/>

<xs:complexType name="Modificar_local">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="id_empresa" type="xs:int"/>
<xs:element name="id_ciudad" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Modificar_localResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar_local">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar_localResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Listado_local">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Listado_localResponse">
<xs:sequence>
<xs:element name="return" type="tns:local" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="local">
<xs:sequence>
<xs:element name="ciudadIdCiudad" type="tns:ciudad" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="empresaIdEmpresa" type="tns:empresa" minOccurs="0"/>
<xs:element name="idLocal" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ciudad">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idCiudad" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="regionIdRegion" type="tns:region" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="region">
<xs:sequence>
<xs:element name="idRegion" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empresa">
<xs:sequence>
<xs:element name="actualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="estadoIdEstado" type="tns:estado" minOccurs="0"/>
<xs:element name="idEmpresa" type="xs:decimal" minOccurs="0"/>
<xs:element name="inicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estado">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idEstado" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Crear_local">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="id_empresa" type="xs:int"/>
<xs:element name="id_ciudad" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Crear_localResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>