src/conf/xml-resources/web-service-references/UsuarioService/wsdl/localhost_8080/MisOfertasWebService/UsuarioService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="UsuarioService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:8080/MisOfertasWebService/UsuarioService?xsd=1"/>
</xsd:schema>
</types>
<message name="AutenticarTrabajador">
<part name="parameters" element="tns:AutenticarTrabajador"/>
</message>
<message name="AutenticarTrabajadorResponse">
<part name="parameters" element="tns:AutenticarTrabajadorResponse"/>
</message>
<message name="Autenticacion">
<part name="parameters" element="tns:Autenticacion"/>
</message>
<message name="AutenticacionResponse">
<part name="parameters" element="tns:AutenticacionResponse"/>
</message>
<message name="Listado_usuarios">
<part name="parameters" element="tns:Listado_usuarios"/>
</message>
<message name="Listado_usuariosResponse">
<part name="parameters" element="tns:Listado_usuariosResponse"/>
</message>
<message name="Modificar_USUARIO">
<part name="parameters" element="tns:Modificar_USUARIO"/>
</message>
<message name="Modificar_USUARIOResponse">
<part name="parameters" element="tns:Modificar_USUARIOResponse"/>
</message>
<message name="CREAR_USUARIO">
<part name="parameters" element="tns:CREAR_USUARIO"/>
</message>
<message name="CREAR_USUARIOResponse">
<part name="parameters" element="tns:CREAR_USUARIOResponse"/>
</message>
<message name="Eliminar_usuario">
<part name="parameters" element="tns:Eliminar_usuario"/>
</message>
<message name="Eliminar_usuarioResponse">
<part name="parameters" element="tns:Eliminar_usuarioResponse"/>
</message>
<portType name="UsuarioService">
<operation name="AutenticarTrabajador">
<input wsam:Action="http://Servicios/UsuarioService/AutenticarTrabajadorRequest" message="tns:AutenticarTrabajador"/>
<output wsam:Action="http://Servicios/UsuarioService/AutenticarTrabajadorResponse" message="tns:AutenticarTrabajadorResponse"/>
</operation>
<operation name="Autenticacion">
<input wsam:Action="http://Servicios/UsuarioService/AutenticacionRequest" message="tns:Autenticacion"/>
<output wsam:Action="http://Servicios/UsuarioService/AutenticacionResponse" message="tns:AutenticacionResponse"/>
</operation>
<operation name="Listado_usuarios">
<input wsam:Action="http://Servicios/UsuarioService/Listado_usuariosRequest" message="tns:Listado_usuarios"/>
<output wsam:Action="http://Servicios/UsuarioService/Listado_usuariosResponse" message="tns:Listado_usuariosResponse"/>
</operation>
<operation name="Modificar_USUARIO">
<input wsam:Action="http://Servicios/UsuarioService/Modificar_USUARIORequest" message="tns:Modificar_USUARIO"/>
<output wsam:Action="http://Servicios/UsuarioService/Modificar_USUARIOResponse" message="tns:Modificar_USUARIOResponse"/>
</operation>
<operation name="CREAR_USUARIO">
<input wsam:Action="http://Servicios/UsuarioService/CREAR_USUARIORequest" message="tns:CREAR_USUARIO"/>
<output wsam:Action="http://Servicios/UsuarioService/CREAR_USUARIOResponse" message="tns:CREAR_USUARIOResponse"/>
</operation>
<operation name="Eliminar_usuario">
<input wsam:Action="http://Servicios/UsuarioService/Eliminar_usuarioRequest" message="tns:Eliminar_usuario"/>
<output wsam:Action="http://Servicios/UsuarioService/Eliminar_usuarioResponse" message="tns:Eliminar_usuarioResponse"/>
</operation>
</portType>
<binding name="UsuarioServicePortBinding" type="tns:UsuarioService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="AutenticarTrabajador">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Autenticacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Listado_usuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Modificar_USUARIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CREAR_USUARIO">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminar_usuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UsuarioService">
<port name="UsuarioServicePort" binding="tns:UsuarioServicePortBinding">
<soap:address location="http://localhost:8080/MisOfertasWebService/UsuarioService"/>
</port>
</service>
</definitions>