src/conf/xml-resources/web-service-references/OfertaService/wsdl/localhost_17225/MisOfertasWebService/OfertaService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="Crear_oferta" type="tns:Crear_oferta"/>

<xs:element name="Crear_ofertaResponse" type="tns:Crear_ofertaResponse"/>

<xs:element name="Eliminar_oferta" type="tns:Eliminar_oferta"/>

<xs:element name="Eliminar_ofertaResponse" type="tns:Eliminar_ofertaResponse"/>

<xs:element name="Listado_oferta" type="tns:Listado_oferta"/>

<xs:element name="Listado_ofertaResponse" type="tns:Listado_ofertaResponse"/>

<xs:element name="Modificar_oferta" type="tns:Modificar_oferta"/>

<xs:element name="Modificar_ofertaResponse" type="tns:Modificar_ofertaResponse"/>

<xs:element name="dejar_de_publicar_oferta" type="tns:dejar_de_publicar_oferta"/>

<xs:element name="dejar_de_publicar_ofertaResponse" type="tns:dejar_de_publicar_ofertaResponse"/>

<xs:element name="estado" type="tns:estado"/>

<xs:element name="oferta" type="tns:oferta"/>

<xs:element name="publicar_oferta" type="tns:publicar_oferta"/>

<xs:element name="publicar_ofertaResponse" type="tns:publicar_ofertaResponse"/>

<xs:complexType name="Modificar_oferta">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="precio_oferta" type="xs:int"/>
<xs:element name="min_compras" type="xs:int"/>
<xs:element name="max_compras" type="xs:int"/>
<xs:element name="fecha_actulizacion" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Modificar_ofertaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar_oferta">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar_ofertaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Listado_oferta">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Listado_ofertaResponse">
<xs:sequence>
<xs:element name="return" type="tns:oferta" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="oferta">
<xs:sequence>
<xs:element name="actualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="estadoIdEstado" type="tns:estado" minOccurs="0"/>
<xs:element name="idOferta" type="xs:decimal" minOccurs="0"/>
<xs:element name="inicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="maximoCompra" type="xs:integer" minOccurs="0"/>
<xs:element name="minimoCompra" type="xs:integer" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="numeroVisitas" type="xs:integer" minOccurs="0"/>
<xs:element name="precioNormal" type="xs:integer" minOccurs="0"/>
<xs:element name="precioOferta" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estado">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idEstado" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dejar_de_publicar_oferta">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dejar_de_publicar_ofertaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Crear_oferta">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="precio_normal" type="xs:int"/>
<xs:element name="precio_oferta" type="xs:int"/>
<xs:element name="numero_visitas" type="xs:int"/>
<xs:element name="min_compras" type="xs:int"/>
<xs:element name="max_compras" type="xs:int"/>
<xs:element name="fecha_inicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fecha_actulizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="estado_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Crear_ofertaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="publicar_oferta">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="publicar_ofertaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>