src/conf/xml-resources/web-service-references/EmpresaService/wsdl/localhost_21823/MisOfertasWebService/EmpresaService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="Crear_empresa" type="tns:Crear_empresa"/>

<xs:element name="Crear_empresaResponse" type="tns:Crear_empresaResponse"/>

<xs:element name="Eliminar_empresa" type="tns:Eliminar_empresa"/>

<xs:element name="Eliminar_empresaResponse" type="tns:Eliminar_empresaResponse"/>

<xs:element name="Listado_empresa" type="tns:Listado_empresa"/>

<xs:element name="Listado_empresaResponse" type="tns:Listado_empresaResponse"/>

<xs:element name="Modificar_empresa" type="tns:Modificar_empresa"/>

<xs:element name="Modificar_empresaResponse" type="tns:Modificar_empresaResponse"/>

<xs:element name="empresa" type="tns:empresa"/>

<xs:element name="estado" type="tns:estado"/>

<xs:complexType name="Crear_empresa">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_inicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fecha_actualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id_estado" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Crear_empresaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Listado_empresa">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Listado_empresaResponse">
<xs:sequence>
<xs:element name="return" type="tns:empresa" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empresa">
<xs:sequence>
<xs:element name="actualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="estadoIdEstado" type="tns:estado" minOccurs="0"/>
<xs:element name="idEmpresa" type="xs:decimal" minOccurs="0"/>
<xs:element name="inicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estado">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idEstado" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar_empresa">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar_empresaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Modificar_empresa">
<xs:sequence>
<xs:element name="idd" type="xs:int"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_inicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fecha_actualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id_estado" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Modificar_empresaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>