src/conf/xml-resources/web-service-references/RegionService/wsdl/localhost_43339/MisOfertasWebService/RegionService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="Listado_regiones" type="tns:Listado_regiones"/>

<xs:element name="Listado_regionesResponse" type="tns:Listado_regionesResponse"/>

<xs:element name="region" type="tns:region"/>

<xs:complexType name="Listado_regiones">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Listado_regionesResponse">
<xs:sequence>
<xs:element name="return" type="tns:region" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="region">
<xs:sequence>
<xs:element name="idRegion" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>