src/conf/xml-resources/web-service-references/DetalleOfertaService/wsdl/localhost_8080/MisOfertasWebService/DetalleOfertaService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="Crear_detalle_oferta" type="tns:Crear_detalle_oferta"/>

<xs:element name="Crear_detalle_ofertaResponse" type="tns:Crear_detalle_ofertaResponse"/>

<xs:element name="Eliminar_detalle_oferta" type="tns:Eliminar_detalle_oferta"/>

<xs:element name="Eliminar_detalle_ofertaResponse" type="tns:Eliminar_detalle_ofertaResponse"/>

<xs:element name="Listado_detalle_oferta" type="tns:Listado_detalle_oferta"/>

<xs:element name="Listado_detalle_ofertaResponse" type="tns:Listado_detalle_ofertaResponse"/>

<xs:element name="categoria" type="tns:categoria"/>

<xs:element name="detalleOferta" type="tns:detalleOferta"/>

<xs:element name="estado" type="tns:estado"/>

<xs:element name="oferta" type="tns:oferta"/>

<xs:element name="producto" type="tns:producto"/>

<xs:complexType name="Eliminar_detalle_oferta">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar_detalle_ofertaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Crear_detalle_oferta">
<xs:sequence>
<xs:element name="id_detalle_oferta" type="xs:int"/>
<xs:element name="producto_id" type="xs:int"/>
<xs:element name="oferta_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Crear_detalle_ofertaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Listado_detalle_oferta">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Listado_detalle_ofertaResponse">
<xs:sequence>
<xs:element name="return" type="tns:detalleOferta" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="detalleOferta">
<xs:sequence>
<xs:element name="detalleOfertaPK" type="tns:detalleOfertaPK" minOccurs="0"/>
<xs:element name="oferta" type="tns:oferta" minOccurs="0"/>
<xs:element name="producto" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="detalleOfertaPK">
<xs:sequence>
<xs:element name="idDetOferta" type="xs:integer" minOccurs="0"/>
<xs:element name="ofertaIdOferta" type="xs:integer" minOccurs="0"/>
<xs:element name="productoIdProducto" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="oferta">
<xs:sequence>
<xs:element name="actualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="estadoIdEstado" type="tns:estado" minOccurs="0"/>
<xs:element name="idOferta" type="xs:decimal" minOccurs="0"/>
<xs:element name="inicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="maximoCompra" type="xs:integer" minOccurs="0"/>
<xs:element name="minimoCompra" type="xs:integer" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="numeroVisitas" type="xs:integer" minOccurs="0"/>
<xs:element name="precioNormal" type="xs:integer" minOccurs="0"/>
<xs:element name="precioOferta" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estado">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idEstado" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="actualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="categoriaIdCategoria" type="tns:categoria" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idProducto" type="xs:decimal" minOccurs="0"/>
<xs:element name="imagen" type="xs:string" minOccurs="0"/>
<xs:element name="inicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoria">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idCategoria" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>