src/conf/xml-resources/web-service-references/ReporteService/wsdl/localhost_21823/MisOfertasWebService/ReporteService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="Crear_reporte" type="tns:Crear_reporte"/>

<xs:element name="Crear_reporteResponse" type="tns:Crear_reporteResponse"/>

<xs:element name="Eliminar_reporte" type="tns:Eliminar_reporte"/>

<xs:element name="Eliminar_reporteResponse" type="tns:Eliminar_reporteResponse"/>

<xs:element name="Listado_reportes" type="tns:Listado_reportes"/>

<xs:element name="Listado_reportesResponse" type="tns:Listado_reportesResponse"/>

<xs:element name="Modificar_reporte" type="tns:Modificar_reporte"/>

<xs:element name="Modificar_reporteResponse" type="tns:Modificar_reporteResponse"/>

<xs:element name="ciudad" type="tns:ciudad"/>

<xs:element name="empresa" type="tns:empresa"/>

<xs:element name="estado" type="tns:estado"/>

<xs:element name="local" type="tns:local"/>

<xs:element name="region" type="tns:region"/>

<xs:element name="reporte" type="tns:reporte"/>

<xs:complexType name="Modificar_reporte">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="local_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Modificar_reporteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar_reporte">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar_reporteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Listado_reportes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Listado_reportesResponse">
<xs:sequence>
<xs:element name="return" type="tns:reporte" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reporte">
<xs:sequence>
<xs:element name="idReporte" type="xs:decimal" minOccurs="0"/>
<xs:element name="localIdLocal" type="tns:local" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="local">
<xs:sequence>
<xs:element name="ciudadIdCiudad" type="tns:ciudad" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="empresaIdEmpresa" type="tns:empresa" minOccurs="0"/>
<xs:element name="idLocal" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ciudad">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idCiudad" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="regionIdRegion" type="tns:region" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="region">
<xs:sequence>
<xs:element name="idRegion" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="empresa">
<xs:sequence>
<xs:element name="actualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="estadoIdEstado" type="tns:estado" minOccurs="0"/>
<xs:element name="idEmpresa" type="xs:decimal" minOccurs="0"/>
<xs:element name="inicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estado">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idEstado" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Crear_reporte">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="local_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Crear_reporteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>