src/conf/xml-resources/web-service-references/ReporteService/wsdl/localhost_21823/MisOfertasWebService/ReporteService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="ReporteService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:21823/MisOfertasWebService/ReporteService?xsd=1"/>
</xsd:schema>
</types>
<message name="Listado_reportes">
<part name="parameters" element="tns:Listado_reportes"/>
</message>
<message name="Listado_reportesResponse">
<part name="parameters" element="tns:Listado_reportesResponse"/>
</message>
<message name="Modificar_reporte">
<part name="parameters" element="tns:Modificar_reporte"/>
</message>
<message name="Modificar_reporteResponse">
<part name="parameters" element="tns:Modificar_reporteResponse"/>
</message>
<message name="Eliminar_reporte">
<part name="parameters" element="tns:Eliminar_reporte"/>
</message>
<message name="Eliminar_reporteResponse">
<part name="parameters" element="tns:Eliminar_reporteResponse"/>
</message>
<message name="Crear_reporte">
<part name="parameters" element="tns:Crear_reporte"/>
</message>
<message name="Crear_reporteResponse">
<part name="parameters" element="tns:Crear_reporteResponse"/>
</message>
<portType name="ReporteService">
<operation name="Listado_reportes">
<input wsam:Action="http://Servicios/ReporteService/Listado_reportesRequest" message="tns:Listado_reportes"/>
<output wsam:Action="http://Servicios/ReporteService/Listado_reportesResponse" message="tns:Listado_reportesResponse"/>
</operation>
<operation name="Modificar_reporte">
<input wsam:Action="http://Servicios/ReporteService/Modificar_reporteRequest" message="tns:Modificar_reporte"/>
<output wsam:Action="http://Servicios/ReporteService/Modificar_reporteResponse" message="tns:Modificar_reporteResponse"/>
</operation>
<operation name="Eliminar_reporte">
<input wsam:Action="http://Servicios/ReporteService/Eliminar_reporteRequest" message="tns:Eliminar_reporte"/>
<output wsam:Action="http://Servicios/ReporteService/Eliminar_reporteResponse" message="tns:Eliminar_reporteResponse"/>
</operation>
<operation name="Crear_reporte">
<input wsam:Action="http://Servicios/ReporteService/Crear_reporteRequest" message="tns:Crear_reporte"/>
<output wsam:Action="http://Servicios/ReporteService/Crear_reporteResponse" message="tns:Crear_reporteResponse"/>
</operation>
</portType>
<binding name="ReporteServicePortBinding" type="tns:ReporteService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Listado_reportes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Modificar_reporte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminar_reporte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Crear_reporte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ReporteService">
<port name="ReporteServicePort" binding="tns:ReporteServicePortBinding">
<soap:address location="http://localhost:21823/MisOfertasWebService/ReporteService"/>
</port>
</service>
</definitions>