src/conf/xml-resources/web-service-references/UsuarioOfertaService/wsdl/localhost_21823/MisOfertasWebService/UsuarioOfertaService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="Crear_usuario_oferta" type="tns:Crear_usuario_oferta"/>

<xs:element name="Crear_usuario_ofertaResponse" type="tns:Crear_usuario_ofertaResponse"/>

<xs:element name="Eliminar_usuario_oferta" type="tns:Eliminar_usuario_oferta"/>

<xs:element name="Eliminar_usuario_ofertaResponse" type="tns:Eliminar_usuario_ofertaResponse"/>

<xs:element name="Listado_usuario_oferta" type="tns:Listado_usuario_oferta"/>

<xs:element name="Listado_usuario_ofertaResponse" type="tns:Listado_usuario_ofertaResponse"/>

<xs:element name="cargo" type="tns:cargo"/>

<xs:element name="estado" type="tns:estado"/>

<xs:element name="oferta" type="tns:oferta"/>

<xs:element name="persona" type="tns:persona"/>

<xs:element name="sexo" type="tns:sexo"/>

<xs:element name="usuario" type="tns:usuario"/>

<xs:element name="usuariooferta" type="tns:usuariooferta"/>

<xs:complexType name="Crear_usuario_oferta">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="id_usuario" type="xs:int"/>
<xs:element name="id_oferta" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Crear_usuario_ofertaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar_usuario_oferta">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar_usuario_ofertaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Listado_usuario_oferta">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Listado_usuario_ofertaResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuariooferta" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuariooferta">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="oferta" type="tns:oferta" minOccurs="0"/>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"/>
<xs:element name="usuarioofertaPK" type="tns:usuarioofertaPK" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="oferta">
<xs:sequence>
<xs:element name="actualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="estadoIdEstado" type="tns:estado" minOccurs="0"/>
<xs:element name="idOferta" type="xs:decimal" minOccurs="0"/>
<xs:element name="inicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="maximoCompra" type="xs:integer" minOccurs="0"/>
<xs:element name="minimoCompra" type="xs:integer" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="numeroVisitas" type="xs:integer" minOccurs="0"/>
<xs:element name="precioNormal" type="xs:integer" minOccurs="0"/>
<xs:element name="precioOferta" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estado">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idEstado" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="actualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="cargoIdcargo" type="tns:cargo" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="estadoIdEstado" type="tns:estado" minOccurs="0"/>
<xs:element name="fechacreado" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idUsuario" type="xs:decimal" minOccurs="0"/>
<xs:element name="personaIdpersona" type="tns:persona" minOccurs="0"/>
<xs:element name="telefono" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cargo">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idcargo" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="idpersona" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="sexoIdSexo" type="tns:sexo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sexo">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idSexo" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuarioofertaPK">
<xs:sequence>
<xs:element name="idusuariooferta" type="xs:integer" minOccurs="0"/>
<xs:element name="ofertaIdOferta" type="xs:integer" minOccurs="0"/>
<xs:element name="usuarioIdUsuario" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>