src/conf/xml-resources/web-service-references/OfertaVisitaService/wsdl/localhost_8080/MisOfertasWebService/OfertaVisitaService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="Crear_oferta_visitas" type="tns:Crear_oferta_visitas"/>

<xs:element name="Crear_oferta_visitasResponse" type="tns:Crear_oferta_visitasResponse"/>

<xs:element name="Eliminar_oferta_visitas" type="tns:Eliminar_oferta_visitas"/>

<xs:element name="Eliminar_oferta_visitasResponse" type="tns:Eliminar_oferta_visitasResponse"/>

<xs:element name="Listado_oferta_visitas" type="tns:Listado_oferta_visitas"/>

<xs:element name="Listado_oferta_visitasResponse" type="tns:Listado_oferta_visitasResponse"/>

<xs:element name="ciudad" type="tns:ciudad"/>

<xs:element name="cliente" type="tns:cliente"/>

<xs:element name="estado" type="tns:estado"/>

<xs:element name="oferta" type="tns:oferta"/>

<xs:element name="ofertavisi" type="tns:ofertavisi"/>

<xs:element name="persona" type="tns:persona"/>

<xs:element name="region" type="tns:region"/>

<xs:element name="sexo" type="tns:sexo"/>

<xs:complexType name="Listado_oferta_visitas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Listado_oferta_visitasResponse">
<xs:sequence>
<xs:element name="return" type="tns:ofertavisi" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ofertavisi">
<xs:sequence>
<xs:element name="clienteIdCliente" type="tns:cliente" minOccurs="0"/>
<xs:element name="fechaVisita" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idofertav" type="xs:decimal" minOccurs="0"/>
<xs:element name="ofertaIdOferta" type="tns:oferta" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="aceptaInformativo" type="xs:unsignedShort" minOccurs="0"/>
<xs:element name="actualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="ciudadIdCiudad" type="tns:ciudad" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="estadoIdEstado" type="tns:estado" minOccurs="0"/>
<xs:element name="fechaNacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idCliente" type="xs:decimal" minOccurs="0"/>
<xs:element name="inicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="personaIdpersona" type="tns:persona" minOccurs="0"/>
<xs:element name="telefono" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ciudad">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idCiudad" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="regionIdRegion" type="tns:region" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="region">
<xs:sequence>
<xs:element name="idRegion" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estado">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idEstado" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="idpersona" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="sexoIdSexo" type="tns:sexo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sexo">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idSexo" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="oferta">
<xs:sequence>
<xs:element name="actualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="estadoIdEstado" type="tns:estado" minOccurs="0"/>
<xs:element name="idOferta" type="xs:decimal" minOccurs="0"/>
<xs:element name="inicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="maximoCompra" type="xs:integer" minOccurs="0"/>
<xs:element name="minimoCompra" type="xs:integer" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="numeroVisitas" type="xs:integer" minOccurs="0"/>
<xs:element name="precioNormal" type="xs:integer" minOccurs="0"/>
<xs:element name="precioOferta" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar_oferta_visitas">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar_oferta_visitasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Crear_oferta_visitas">
<xs:sequence>
<xs:element name="fecha_vista" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id_cliente" type="xs:int"/>
<xs:element name="id_oferta" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Crear_oferta_visitasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>