src/conf/xml-resources/web-service-references/ClienteService/wsdl/localhost_8080/MisOfertasWebService/ClienteService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="ClienteService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:8080/MisOfertasWebService/ClienteService?xsd=1"/>
</xsd:schema>
</types>
<message name="Crear_cliente">
<part name="parameters" element="tns:Crear_cliente"/>
</message>
<message name="Crear_clienteResponse">
<part name="parameters" element="tns:Crear_clienteResponse"/>
</message>
<message name="Listado_clientes">
<part name="parameters" element="tns:Listado_clientes"/>
</message>
<message name="Listado_clientesResponse">
<part name="parameters" element="tns:Listado_clientesResponse"/>
</message>
<message name="Modificar_cliente">
<part name="parameters" element="tns:Modificar_cliente"/>
</message>
<message name="Modificar_clienteResponse">
<part name="parameters" element="tns:Modificar_clienteResponse"/>
</message>
<message name="Autenticacion">
<part name="parameters" element="tns:Autenticacion"/>
</message>
<message name="AutenticacionResponse">
<part name="parameters" element="tns:AutenticacionResponse"/>
</message>
<message name="Eliminar_cliente">
<part name="parameters" element="tns:Eliminar_cliente"/>
</message>
<message name="Eliminar_clienteResponse">
<part name="parameters" element="tns:Eliminar_clienteResponse"/>
</message>
<message name="buscar_cliente">
<part name="parameters" element="tns:buscar_cliente"/>
</message>
<message name="buscar_clienteResponse">
<part name="parameters" element="tns:buscar_clienteResponse"/>
</message>
<message name="inicia_sesion_cliente">
<part name="parameters" element="tns:inicia_sesion_cliente"/>
</message>
<message name="inicia_sesion_clienteResponse">
<part name="parameters" element="tns:inicia_sesion_clienteResponse"/>
</message>
<message name="cerrar_sesion_cliente">
<part name="parameters" element="tns:cerrar_sesion_cliente"/>
</message>
<message name="cerrar_sesion_clienteResponse">
<part name="parameters" element="tns:cerrar_sesion_clienteResponse"/>
</message>
<portType name="ClienteService">
<operation name="Crear_cliente">
<input wsam:Action="http://Servicios/ClienteService/Crear_clienteRequest" message="tns:Crear_cliente"/>
<output wsam:Action="http://Servicios/ClienteService/Crear_clienteResponse" message="tns:Crear_clienteResponse"/>
</operation>
<operation name="Listado_clientes">
<input wsam:Action="http://Servicios/ClienteService/Listado_clientesRequest" message="tns:Listado_clientes"/>
<output wsam:Action="http://Servicios/ClienteService/Listado_clientesResponse" message="tns:Listado_clientesResponse"/>
</operation>
<operation name="Modificar_cliente">
<input wsam:Action="http://Servicios/ClienteService/Modificar_clienteRequest" message="tns:Modificar_cliente"/>
<output wsam:Action="http://Servicios/ClienteService/Modificar_clienteResponse" message="tns:Modificar_clienteResponse"/>
</operation>
<operation name="Autenticacion">
<input wsam:Action="http://Servicios/ClienteService/AutenticacionRequest" message="tns:Autenticacion"/>
<output wsam:Action="http://Servicios/ClienteService/AutenticacionResponse" message="tns:AutenticacionResponse"/>
</operation>
<operation name="Eliminar_cliente">
<input wsam:Action="http://Servicios/ClienteService/Eliminar_clienteRequest" message="tns:Eliminar_cliente"/>
<output wsam:Action="http://Servicios/ClienteService/Eliminar_clienteResponse" message="tns:Eliminar_clienteResponse"/>
</operation>
<operation name="buscar_cliente">
<input wsam:Action="http://Servicios/ClienteService/buscar_clienteRequest" message="tns:buscar_cliente"/>
<output wsam:Action="http://Servicios/ClienteService/buscar_clienteResponse" message="tns:buscar_clienteResponse"/>
</operation>
<operation name="inicia_sesion_cliente">
<input wsam:Action="http://Servicios/ClienteService/inicia_sesion_clienteRequest" message="tns:inicia_sesion_cliente"/>
<output wsam:Action="http://Servicios/ClienteService/inicia_sesion_clienteResponse" message="tns:inicia_sesion_clienteResponse"/>
</operation>
<operation name="cerrar_sesion_cliente">
<input wsam:Action="http://Servicios/ClienteService/cerrar_sesion_clienteRequest" message="tns:cerrar_sesion_cliente"/>
<output wsam:Action="http://Servicios/ClienteService/cerrar_sesion_clienteResponse" message="tns:cerrar_sesion_clienteResponse"/>
</operation>
</portType>
<binding name="ClienteServicePortBinding" type="tns:ClienteService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Crear_cliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Listado_clientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Modificar_cliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Autenticacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminar_cliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscar_cliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inicia_sesion_cliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cerrar_sesion_cliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ClienteService">
<port name="ClienteServicePort" binding="tns:ClienteServicePortBinding">
<soap:address location="http://localhost:8080/MisOfertasWebService/ClienteService"/>
</port>
</service>
</definitions>