web/WEB-INF/wsdl/localhost_21823/MisOfertasWebService/CargarPuntosService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="CargarPuntosService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:21823/MisOfertasWebService/CargarPuntosService?xsd=1"/>
</xsd:schema>
</types>
<message name="Crear_cargar_puntos">
<part name="parameters" element="tns:Crear_cargar_puntos"/>
</message>
<message name="Crear_cargar_puntosResponse">
<part name="parameters" element="tns:Crear_cargar_puntosResponse"/>
</message>
<message name="Listado_cargar_puntos">
<part name="parameters" element="tns:Listado_cargar_puntos"/>
</message>
<message name="Listado_cargar_puntosResponse">
<part name="parameters" element="tns:Listado_cargar_puntosResponse"/>
</message>
<message name="Eliminar_cargar_puntos">
<part name="parameters" element="tns:Eliminar_cargar_puntos"/>
</message>
<message name="Eliminar_cargar_puntosResponse">
<part name="parameters" element="tns:Eliminar_cargar_puntosResponse"/>
</message>
<portType name="CargarPuntosService">
<operation name="Crear_cargar_puntos">
<input wsam:Action="http://Servicios/CargarPuntosService/Crear_cargar_puntosRequest" message="tns:Crear_cargar_puntos"/>
<output wsam:Action="http://Servicios/CargarPuntosService/Crear_cargar_puntosResponse" message="tns:Crear_cargar_puntosResponse"/>
</operation>
<operation name="Listado_cargar_puntos">
<input wsam:Action="http://Servicios/CargarPuntosService/Listado_cargar_puntosRequest" message="tns:Listado_cargar_puntos"/>
<output wsam:Action="http://Servicios/CargarPuntosService/Listado_cargar_puntosResponse" message="tns:Listado_cargar_puntosResponse"/>
</operation>
<operation name="Eliminar_cargar_puntos">
<input wsam:Action="http://Servicios/CargarPuntosService/Eliminar_cargar_puntosRequest" message="tns:Eliminar_cargar_puntos"/>
<output wsam:Action="http://Servicios/CargarPuntosService/Eliminar_cargar_puntosResponse" message="tns:Eliminar_cargar_puntosResponse"/>
</operation>
</portType>
<binding name="CargarPuntosServicePortBinding" type="tns:CargarPuntosService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Crear_cargar_puntos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Listado_cargar_puntos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminar_cargar_puntos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CargarPuntosService">
<port name="CargarPuntosServicePort" binding="tns:CargarPuntosServicePortBinding">
<soap:address location="http://localhost:21823/MisOfertasWebService/CargarPuntosService"/>
</port>
</service>
</definitions>