web/WEB-INF/wsdl/localhost_21823/MisOfertasWebService/DescuentoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="DescuentoService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:21823/MisOfertasWebService/DescuentoService?xsd=1"/>
</xsd:schema>
</types>
<message name="Listado_descuento">
<part name="parameters" element="tns:Listado_descuento"/>
</message>
<message name="Listado_descuentoResponse">
<part name="parameters" element="tns:Listado_descuentoResponse"/>
</message>
<message name="Crear_descuento">
<part name="parameters" element="tns:Crear_descuento"/>
</message>
<message name="Crear_descuentoResponse">
<part name="parameters" element="tns:Crear_descuentoResponse"/>
</message>
<message name="Modificar_descuento">
<part name="parameters" element="tns:Modificar_descuento"/>
</message>
<message name="Modificar_descuentoResponse">
<part name="parameters" element="tns:Modificar_descuentoResponse"/>
</message>
<message name="Eliminar_descuento">
<part name="parameters" element="tns:Eliminar_descuento"/>
</message>
<message name="Eliminar_descuentoResponse">
<part name="parameters" element="tns:Eliminar_descuentoResponse"/>
</message>
<portType name="DescuentoService">
<operation name="Listado_descuento">
<input wsam:Action="http://Servicios/DescuentoService/Listado_descuentoRequest" message="tns:Listado_descuento"/>
<output wsam:Action="http://Servicios/DescuentoService/Listado_descuentoResponse" message="tns:Listado_descuentoResponse"/>
</operation>
<operation name="Crear_descuento">
<input wsam:Action="http://Servicios/DescuentoService/Crear_descuentoRequest" message="tns:Crear_descuento"/>
<output wsam:Action="http://Servicios/DescuentoService/Crear_descuentoResponse" message="tns:Crear_descuentoResponse"/>
</operation>
<operation name="Modificar_descuento">
<input wsam:Action="http://Servicios/DescuentoService/Modificar_descuentoRequest" message="tns:Modificar_descuento"/>
<output wsam:Action="http://Servicios/DescuentoService/Modificar_descuentoResponse" message="tns:Modificar_descuentoResponse"/>
</operation>
<operation name="Eliminar_descuento">
<input wsam:Action="http://Servicios/DescuentoService/Eliminar_descuentoRequest" message="tns:Eliminar_descuento"/>
<output wsam:Action="http://Servicios/DescuentoService/Eliminar_descuentoResponse" message="tns:Eliminar_descuentoResponse"/>
</operation>
</portType>
<binding name="DescuentoServicePortBinding" type="tns:DescuentoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Listado_descuento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Crear_descuento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Modificar_descuento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminar_descuento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DescuentoService">
<port name="DescuentoServicePort" binding="tns:DescuentoServicePortBinding">
<soap:address location="http://localhost:21823/MisOfertasWebService/DescuentoService"/>
</port>
</service>
</definitions>