web/WEB-INF/wsdl/localhost_21823/MisOfertasWebService/EmpresaService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="EmpresaService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:21823/MisOfertasWebService/EmpresaService?xsd=1"/>
</xsd:schema>
</types>
<message name="Crear_empresa">
<part name="parameters" element="tns:Crear_empresa"/>
</message>
<message name="Crear_empresaResponse">
<part name="parameters" element="tns:Crear_empresaResponse"/>
</message>
<message name="Eliminar_empresa">
<part name="parameters" element="tns:Eliminar_empresa"/>
</message>
<message name="Eliminar_empresaResponse">
<part name="parameters" element="tns:Eliminar_empresaResponse"/>
</message>
<message name="Modificar_empresa">
<part name="parameters" element="tns:Modificar_empresa"/>
</message>
<message name="Modificar_empresaResponse">
<part name="parameters" element="tns:Modificar_empresaResponse"/>
</message>
<message name="Listado_empresa">
<part name="parameters" element="tns:Listado_empresa"/>
</message>
<message name="Listado_empresaResponse">
<part name="parameters" element="tns:Listado_empresaResponse"/>
</message>
<portType name="EmpresaService">
<operation name="Crear_empresa">
<input wsam:Action="http://Servicios/EmpresaService/Crear_empresaRequest" message="tns:Crear_empresa"/>
<output wsam:Action="http://Servicios/EmpresaService/Crear_empresaResponse" message="tns:Crear_empresaResponse"/>
</operation>
<operation name="Eliminar_empresa">
<input wsam:Action="http://Servicios/EmpresaService/Eliminar_empresaRequest" message="tns:Eliminar_empresa"/>
<output wsam:Action="http://Servicios/EmpresaService/Eliminar_empresaResponse" message="tns:Eliminar_empresaResponse"/>
</operation>
<operation name="Modificar_empresa">
<input wsam:Action="http://Servicios/EmpresaService/Modificar_empresaRequest" message="tns:Modificar_empresa"/>
<output wsam:Action="http://Servicios/EmpresaService/Modificar_empresaResponse" message="tns:Modificar_empresaResponse"/>
</operation>
<operation name="Listado_empresa">
<input wsam:Action="http://Servicios/EmpresaService/Listado_empresaRequest" message="tns:Listado_empresa"/>
<output wsam:Action="http://Servicios/EmpresaService/Listado_empresaResponse" message="tns:Listado_empresaResponse"/>
</operation>
</portType>
<binding name="EmpresaServicePortBinding" type="tns:EmpresaService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Crear_empresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminar_empresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Modificar_empresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Listado_empresa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EmpresaService">
<port name="EmpresaServicePort" binding="tns:EmpresaServicePortBinding">
<soap:address location="http://localhost:21823/MisOfertasWebService/EmpresaService"/>
</port>
</service>
</definitions>