web/WEB-INF/wsdl/localhost_21823/MisOfertasWebService/PuntosService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="PuntosService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:21823/MisOfertasWebService/PuntosService?xsd=1"/>
</xsd:schema>
</types>
<message name="Eliminar_puntos">
<part name="parameters" element="tns:Eliminar_puntos"/>
</message>
<message name="Eliminar_puntosResponse">
<part name="parameters" element="tns:Eliminar_puntosResponse"/>
</message>
<message name="Listado_puntos">
<part name="parameters" element="tns:Listado_puntos"/>
</message>
<message name="Listado_puntosResponse">
<part name="parameters" element="tns:Listado_puntosResponse"/>
</message>
<message name="Crear_puntos">
<part name="parameters" element="tns:Crear_puntos"/>
</message>
<message name="Crear_puntosResponse">
<part name="parameters" element="tns:Crear_puntosResponse"/>
</message>
<message name="Modificar_puntos">
<part name="parameters" element="tns:Modificar_puntos"/>
</message>
<message name="Modificar_puntosResponse">
<part name="parameters" element="tns:Modificar_puntosResponse"/>
</message>
<portType name="PuntosService">
<operation name="Eliminar_puntos">
<input wsam:Action="http://Servicios/PuntosService/Eliminar_puntosRequest" message="tns:Eliminar_puntos"/>
<output wsam:Action="http://Servicios/PuntosService/Eliminar_puntosResponse" message="tns:Eliminar_puntosResponse"/>
</operation>
<operation name="Listado_puntos">
<input wsam:Action="http://Servicios/PuntosService/Listado_puntosRequest" message="tns:Listado_puntos"/>
<output wsam:Action="http://Servicios/PuntosService/Listado_puntosResponse" message="tns:Listado_puntosResponse"/>
</operation>
<operation name="Crear_puntos">
<input wsam:Action="http://Servicios/PuntosService/Crear_puntosRequest" message="tns:Crear_puntos"/>
<output wsam:Action="http://Servicios/PuntosService/Crear_puntosResponse" message="tns:Crear_puntosResponse"/>
</operation>
<operation name="Modificar_puntos">
<input wsam:Action="http://Servicios/PuntosService/Modificar_puntosRequest" message="tns:Modificar_puntos"/>
<output wsam:Action="http://Servicios/PuntosService/Modificar_puntosResponse" message="tns:Modificar_puntosResponse"/>
</operation>
</portType>
<binding name="PuntosServicePortBinding" type="tns:PuntosService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Eliminar_puntos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Listado_puntos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Crear_puntos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Modificar_puntos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PuntosService">
<port name="PuntosServicePort" binding="tns:PuntosServicePortBinding">
<soap:address location="http://localhost:21823/MisOfertasWebService/PuntosService"/>
</port>
</service>
</definitions>