web/WEB-INF/wsdl/localhost_21823/MisOfertasWebService/PuntosService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="Crear_puntos" type="tns:Crear_puntos"/>

<xs:element name="Crear_puntosResponse" type="tns:Crear_puntosResponse"/>

<xs:element name="Eliminar_puntos" type="tns:Eliminar_puntos"/>

<xs:element name="Eliminar_puntosResponse" type="tns:Eliminar_puntosResponse"/>

<xs:element name="Listado_puntos" type="tns:Listado_puntos"/>

<xs:element name="Listado_puntosResponse" type="tns:Listado_puntosResponse"/>

<xs:element name="Modificar_puntos" type="tns:Modificar_puntos"/>

<xs:element name="Modificar_puntosResponse" type="tns:Modificar_puntosResponse"/>

<xs:element name="ciudad" type="tns:ciudad"/>

<xs:element name="cliente" type="tns:cliente"/>

<xs:element name="estado" type="tns:estado"/>

<xs:element name="persona" type="tns:persona"/>

<xs:element name="puntos" type="tns:puntos"/>

<xs:element name="region" type="tns:region"/>

<xs:element name="sexo" type="tns:sexo"/>

<xs:complexType name="Crear_puntos">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="total_puntos" type="xs:int"/>
<xs:element name="fecha_actulizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="puntos_canjeados" type="xs:int"/>
<xs:element name="id_cliente" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Crear_puntosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Listado_puntos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Listado_puntosResponse">
<xs:sequence>
<xs:element name="return" type="tns:puntos" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="puntos">
<xs:sequence>
<xs:element name="clienteIdCliente" type="tns:cliente" minOccurs="0"/>
<xs:element name="fechaActualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idPuntos" type="xs:decimal" minOccurs="0"/>
<xs:element name="puntosCanjeados" type="xs:integer" minOccurs="0"/>
<xs:element name="totalPuntos" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="aceptaInformativo" type="xs:unsignedShort" minOccurs="0"/>
<xs:element name="actualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="ciudadIdCiudad" type="tns:ciudad" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="estadoIdEstado" type="tns:estado" minOccurs="0"/>
<xs:element name="fechaNacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idCliente" type="xs:decimal" minOccurs="0"/>
<xs:element name="inicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="personaIdpersona" type="tns:persona" minOccurs="0"/>
<xs:element name="telefono" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ciudad">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idCiudad" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="regionIdRegion" type="tns:region" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="region">
<xs:sequence>
<xs:element name="idRegion" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estado">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idEstado" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="idpersona" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="sexoIdSexo" type="tns:sexo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sexo">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idSexo" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Modificar_puntos">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="total_puntos" type="xs:int"/>
<xs:element name="fecha_actulizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="puntos_canjeados" type="xs:int"/>
<xs:element name="id_cliente" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Modificar_puntosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar_puntos">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar_puntosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>