src/conf/xml-resources/web-service-references/DescuentoService/wsdl/localhost_21823/MisOfertasWebService/DescuentoService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="Crear_descuento" type="tns:Crear_descuento"/>

<xs:element name="Crear_descuentoResponse" type="tns:Crear_descuentoResponse"/>

<xs:element name="Eliminar_descuento" type="tns:Eliminar_descuento"/>

<xs:element name="Eliminar_descuentoResponse" type="tns:Eliminar_descuentoResponse"/>

<xs:element name="Listado_descuento" type="tns:Listado_descuento"/>

<xs:element name="Listado_descuentoResponse" type="tns:Listado_descuentoResponse"/>

<xs:element name="Modificar_descuento" type="tns:Modificar_descuento"/>

<xs:element name="Modificar_descuentoResponse" type="tns:Modificar_descuentoResponse"/>

<xs:element name="categoria" type="tns:categoria"/>

<xs:element name="ciudad" type="tns:ciudad"/>

<xs:element name="cliente" type="tns:cliente"/>

<xs:element name="descuento" type="tns:descuento"/>

<xs:element name="estado" type="tns:estado"/>

<xs:element name="persona" type="tns:persona"/>

<xs:element name="region" type="tns:region"/>

<xs:element name="sexo" type="tns:sexo"/>

<xs:complexType name="Crear_descuento">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
<xs:element name="tope" type="xs:int"/>
<xs:element name="valor" type="xs:int"/>
<xs:element name="puntos_usados" type="xs:int"/>
<xs:element name="fecha_inicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fecha_actualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id_cliente" type="xs:int"/>
<xs:element name="estado_id" type="xs:int"/>
<xs:element name="categoria_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Crear_descuentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Listado_descuento">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Listado_descuentoResponse">
<xs:sequence>
<xs:element name="return" type="tns:descuento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="descuento">
<xs:sequence>
<xs:element name="actualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="categoriaIdCategoria" type="tns:categoria" minOccurs="0"/>
<xs:element name="clienteIdCliente" type="tns:cliente" minOccurs="0"/>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
<xs:element name="descuentoPK" type="tns:descuentoPK" minOccurs="0"/>
<xs:element name="estado" type="tns:estado" minOccurs="0"/>
<xs:element name="inicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="puntosUsados" type="xs:integer" minOccurs="0"/>
<xs:element name="tope" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoria">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idCategoria" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="aceptaInformativo" type="xs:unsignedShort" minOccurs="0"/>
<xs:element name="actualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="ciudadIdCiudad" type="tns:ciudad" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="estadoIdEstado" type="tns:estado" minOccurs="0"/>
<xs:element name="fechaNacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idCliente" type="xs:decimal" minOccurs="0"/>
<xs:element name="inicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="personaIdpersona" type="tns:persona" minOccurs="0"/>
<xs:element name="telefono" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ciudad">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idCiudad" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="regionIdRegion" type="tns:region" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="region">
<xs:sequence>
<xs:element name="idRegion" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estado">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idEstado" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="idpersona" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="sexoIdSexo" type="tns:sexo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sexo">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idSexo" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="descuentoPK">
<xs:sequence>
<xs:element name="estadoIdEstado" type="xs:integer" minOccurs="0"/>
<xs:element name="idDescuento" type="xs:integer" minOccurs="0"/>
<xs:element name="valor" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Modificar_descuento">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="codigo" type="xs:string" minOccurs="0"/>
<xs:element name="tope" type="xs:int"/>
<xs:element name="valor" type="xs:int"/>
<xs:element name="puntos_usados" type="xs:int"/>
<xs:element name="fecha_inicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fecha_actualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id_cliente" type="xs:int"/>
<xs:element name="estado_id" type="xs:int"/>
<xs:element name="categoria_id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Modificar_descuentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar_descuento">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar_descuentoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>