src/conf/xml-resources/web-service-references/ValoracionService/wsdl/localhost_21823/MisOfertasWebService/ValoracionService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="Crear_valoracion" type="tns:Crear_valoracion"/>

<xs:element name="Crear_valoracionResponse" type="tns:Crear_valoracionResponse"/>

<xs:element name="Eliminar_valoracion" type="tns:Eliminar_valoracion"/>

<xs:element name="Eliminar_valoracionResponse" type="tns:Eliminar_valoracionResponse"/>

<xs:element name="Listado_valoraciones" type="tns:Listado_valoraciones"/>

<xs:element name="Listado_valoracionesResponse" type="tns:Listado_valoracionesResponse"/>

<xs:element name="Modificar_valoracion" type="tns:Modificar_valoracion"/>

<xs:element name="Modificar_valoracionResponse" type="tns:Modificar_valoracionResponse"/>

<xs:element name="categoria" type="tns:categoria"/>

<xs:element name="ciudad" type="tns:ciudad"/>

<xs:element name="cliente" type="tns:cliente"/>

<xs:element name="estado" type="tns:estado"/>

<xs:element name="oferta" type="tns:oferta"/>

<xs:element name="persona" type="tns:persona"/>

<xs:element name="region" type="tns:region"/>

<xs:element name="sexo" type="tns:sexo"/>

<xs:element name="valoracion" type="tns:valoracion"/>

<xs:complexType name="Modificar_valoracion">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nota" type="xs:int"/>
<xs:element name="boleta_adjunta" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_valoracion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id_cliente" type="xs:int"/>
<xs:element name="id_oferta" type="xs:int"/>
<xs:element name="id_categoria" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Modificar_valoracionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Crear_valoracion">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nota" type="xs:int"/>
<xs:element name="boleta_adjunta" type="xs:string" minOccurs="0"/>
<xs:element name="fecha_valoracion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id_cliente" type="xs:int"/>
<xs:element name="id_oferta" type="xs:int"/>
<xs:element name="id_categoria" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Crear_valoracionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Listado_valoraciones">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Listado_valoracionesResponse">
<xs:sequence>
<xs:element name="return" type="tns:valoracion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="valoracion">
<xs:sequence>
<xs:element name="boletaAdjunta" type="xs:string" minOccurs="0"/>
<xs:element name="categoriaIdCategoria" type="tns:categoria" minOccurs="0"/>
<xs:element name="cliente" type="tns:cliente" minOccurs="0"/>
<xs:element name="fechavaloracion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="nota" type="xs:integer" minOccurs="0"/>
<xs:element name="oferta" type="tns:oferta" minOccurs="0"/>
<xs:element name="valoracionPK" type="tns:valoracionPK" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoria">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idCategoria" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="aceptaInformativo" type="xs:unsignedShort" minOccurs="0"/>
<xs:element name="actualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="ciudadIdCiudad" type="tns:ciudad" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="estadoIdEstado" type="tns:estado" minOccurs="0"/>
<xs:element name="fechaNacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idCliente" type="xs:decimal" minOccurs="0"/>
<xs:element name="inicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="personaIdpersona" type="tns:persona" minOccurs="0"/>
<xs:element name="telefono" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ciudad">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idCiudad" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="regionIdRegion" type="tns:region" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="region">
<xs:sequence>
<xs:element name="idRegion" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estado">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idEstado" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="idpersona" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="sexoIdSexo" type="tns:sexo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sexo">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idSexo" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="oferta">
<xs:sequence>
<xs:element name="actualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="estadoIdEstado" type="tns:estado" minOccurs="0"/>
<xs:element name="idOferta" type="xs:decimal" minOccurs="0"/>
<xs:element name="inicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="maximoCompra" type="xs:integer" minOccurs="0"/>
<xs:element name="minimoCompra" type="xs:integer" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="numeroVisitas" type="xs:integer" minOccurs="0"/>
<xs:element name="precioNormal" type="xs:integer" minOccurs="0"/>
<xs:element name="precioOferta" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="valoracionPK">
<xs:sequence>
<xs:element name="clienteIdCliente" type="xs:integer" minOccurs="0"/>
<xs:element name="idValoracion" type="xs:integer" minOccurs="0"/>
<xs:element name="ofertaIdOferta" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar_valoracion">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar_valoracionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>