src/conf/xml-resources/web-service-references/OfertaLocalService/wsdl/localhost_40748/MisOfertasWebService/OfertaLocalService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="OfertaLocalService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:40748/MisOfertasWebService/OfertaLocalService?xsd=1"/>
</xsd:schema>
</types>
<message name="Listado_oferta_local">
<part name="parameters" element="tns:Listado_oferta_local"/>
</message>
<message name="Listado_oferta_localResponse">
<part name="parameters" element="tns:Listado_oferta_localResponse"/>
</message>
<message name="Eliminar_oferta_local">
<part name="parameters" element="tns:Eliminar_oferta_local"/>
</message>
<message name="Eliminar_oferta_localResponse">
<part name="parameters" element="tns:Eliminar_oferta_localResponse"/>
</message>
<message name="Crear_oferta_local">
<part name="parameters" element="tns:Crear_oferta_local"/>
</message>
<message name="Crear_oferta_localResponse">
<part name="parameters" element="tns:Crear_oferta_localResponse"/>
</message>
<portType name="OfertaLocalService">
<operation name="Listado_oferta_local">
<input wsam:Action="http://Servicios/OfertaLocalService/Listado_oferta_localRequest" message="tns:Listado_oferta_local"/>
<output wsam:Action="http://Servicios/OfertaLocalService/Listado_oferta_localResponse" message="tns:Listado_oferta_localResponse"/>
</operation>
<operation name="Eliminar_oferta_local">
<input wsam:Action="http://Servicios/OfertaLocalService/Eliminar_oferta_localRequest" message="tns:Eliminar_oferta_local"/>
<output wsam:Action="http://Servicios/OfertaLocalService/Eliminar_oferta_localResponse" message="tns:Eliminar_oferta_localResponse"/>
</operation>
<operation name="Crear_oferta_local">
<input wsam:Action="http://Servicios/OfertaLocalService/Crear_oferta_localRequest" message="tns:Crear_oferta_local"/>
<output wsam:Action="http://Servicios/OfertaLocalService/Crear_oferta_localResponse" message="tns:Crear_oferta_localResponse"/>
</operation>
</portType>
<binding name="OfertaLocalServicePortBinding" type="tns:OfertaLocalService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Listado_oferta_local">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminar_oferta_local">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Crear_oferta_local">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OfertaLocalService">
<port name="OfertaLocalServicePort" binding="tns:OfertaLocalServicePortBinding">
<soap:address location="http://localhost:40748/MisOfertasWebService/OfertaLocalService"/>
</port>
</service>
</definitions>