web/WEB-INF/wsdl/localhost_17225/MisOfertasWebService/UsuarioService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servicios/">

<xs:element name="Autenticacion" type="tns:Autenticacion"/>

<xs:element name="AutenticacionResponse" type="tns:AutenticacionResponse"/>

<xs:element name="AutenticarTrabajador" type="tns:AutenticarTrabajador"/>

<xs:element name="AutenticarTrabajadorResponse" type="tns:AutenticarTrabajadorResponse"/>

<xs:element name="CREAR_USUARIO" type="tns:CREAR_USUARIO"/>

<xs:element name="CREAR_USUARIOResponse" type="tns:CREAR_USUARIOResponse"/>

<xs:element name="Eliminar_usuario" type="tns:Eliminar_usuario"/>

<xs:element name="Eliminar_usuarioResponse" type="tns:Eliminar_usuarioResponse"/>

<xs:element name="Listado_usuarios" type="tns:Listado_usuarios"/>

<xs:element name="Listado_usuariosResponse" type="tns:Listado_usuariosResponse"/>

<xs:element name="Modificar_USUARIO" type="tns:Modificar_USUARIO"/>

<xs:element name="Modificar_USUARIOResponse" type="tns:Modificar_USUARIOResponse"/>

<xs:element name="cargo" type="tns:cargo"/>

<xs:element name="ciudad" type="tns:ciudad"/>

<xs:element name="cliente" type="tns:cliente"/>

<xs:element name="estado" type="tns:estado"/>

<xs:element name="persona" type="tns:persona"/>

<xs:element name="region" type="tns:region"/>

<xs:element name="sexo" type="tns:sexo"/>

<xs:element name="usuario" type="tns:usuario"/>

<xs:complexType name="Listado_usuarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="Listado_usuariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="actualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="cargoIdcargo" type="tns:cargo" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="estadoIdEstado" type="tns:estado" minOccurs="0"/>
<xs:element name="fechacreado" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idUsuario" type="xs:decimal" minOccurs="0"/>
<xs:element name="personaIdpersona" type="tns:persona" minOccurs="0"/>
<xs:element name="telefono" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cargo">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idcargo" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estado">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idEstado" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="idpersona" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="rut" type="xs:string" minOccurs="0"/>
<xs:element name="sexoIdSexo" type="tns:sexo" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sexo">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idSexo" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar_usuario">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Eliminar_usuarioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AutenticarTrabajador">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AutenticarTrabajadorResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CREAR_USUARIO">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:int"/>
<xs:element name="fecha_inicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fecha_actualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id_estado" type="xs:int"/>
<xs:element name="id_persona" type="xs:int"/>
<xs:element name="id_cargo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CREAR_USUARIOResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Autenticacion">
<xs:sequence>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AutenticacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:cliente" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cliente">
<xs:sequence>
<xs:element name="aceptaInformativo" type="xs:unsignedShort" minOccurs="0"/>
<xs:element name="actualizacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="ciudadIdCiudad" type="tns:ciudad" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="estadoIdEstado" type="tns:estado" minOccurs="0"/>
<xs:element name="fechaNacimiento" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idCliente" type="xs:decimal" minOccurs="0"/>
<xs:element name="inicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="personaIdpersona" type="tns:persona" minOccurs="0"/>
<xs:element name="telefono" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ciudad">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idCiudad" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="regionIdRegion" type="tns:region" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="region">
<xs:sequence>
<xs:element name="idRegion" type="xs:long" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Modificar_USUARIO">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="correo" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="telefono" type="xs:int"/>
<xs:element name="fecha_inicio" type="xs:dateTime" minOccurs="0"/>
<xs:element name="fecha_actualizacion" type="xs:dateTime" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Modificar_USUARIOResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>