src/java/META-INF/ProductoService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="ProductoService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:17225/MisOfertasWebService/ProductoService?xsd=1"/>
</xsd:schema>
</types>
<message name="Crear_producto">
<part name="parameters" element="tns:Crear_producto"/>
</message>
<message name="Crear_productoResponse">
<part name="parameters" element="tns:Crear_productoResponse"/>
</message>
<message name="Eliminar_producto">
<part name="parameters" element="tns:Eliminar_producto"/>
</message>
<message name="Eliminar_productoResponse">
<part name="parameters" element="tns:Eliminar_productoResponse"/>
</message>
<message name="Listado_productos">
<part name="parameters" element="tns:Listado_productos"/>
</message>
<message name="Listado_productosResponse">
<part name="parameters" element="tns:Listado_productosResponse"/>
</message>
<message name="Modificar_producto">
<part name="parameters" element="tns:Modificar_producto"/>
</message>
<message name="Modificar_productoResponse">
<part name="parameters" element="tns:Modificar_productoResponse"/>
</message>
<portType name="ProductoService">
<operation name="Crear_producto">
<input wsam:Action="http://Servicios/ProductoService/Crear_productoRequest" message="tns:Crear_producto"/>
<output wsam:Action="http://Servicios/ProductoService/Crear_productoResponse" message="tns:Crear_productoResponse"/>
</operation>
<operation name="Eliminar_producto">
<input wsam:Action="http://Servicios/ProductoService/Eliminar_productoRequest" message="tns:Eliminar_producto"/>
<output wsam:Action="http://Servicios/ProductoService/Eliminar_productoResponse" message="tns:Eliminar_productoResponse"/>
</operation>
<operation name="Listado_productos">
<input wsam:Action="http://Servicios/ProductoService/Listado_productosRequest" message="tns:Listado_productos"/>
<output wsam:Action="http://Servicios/ProductoService/Listado_productosResponse" message="tns:Listado_productosResponse"/>
</operation>
<operation name="Modificar_producto">
<input wsam:Action="http://Servicios/ProductoService/Modificar_productoRequest" message="tns:Modificar_producto"/>
<output wsam:Action="http://Servicios/ProductoService/Modificar_productoResponse" message="tns:Modificar_productoResponse"/>
</operation>
</portType>
<binding name="ProductoServicePortBinding" type="tns:ProductoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Crear_producto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminar_producto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Listado_productos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Modificar_producto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductoService">
<port name="ProductoServicePort" binding="tns:ProductoServicePortBinding">
<soap:address location="http://localhost:17225/MisOfertasWebService/ProductoService"/>
</port>
</service>
</definitions>