src/java/META-INF/UsuarioOfertaService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="UsuarioOfertaService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:21823/MisOfertasWebService/UsuarioOfertaService?xsd=1"/>
</xsd:schema>
</types>
<message name="Crear_usuario_oferta">
<part name="parameters" element="tns:Crear_usuario_oferta"/>
</message>
<message name="Crear_usuario_ofertaResponse">
<part name="parameters" element="tns:Crear_usuario_ofertaResponse"/>
</message>
<message name="Eliminar_usuario_oferta">
<part name="parameters" element="tns:Eliminar_usuario_oferta"/>
</message>
<message name="Eliminar_usuario_ofertaResponse">
<part name="parameters" element="tns:Eliminar_usuario_ofertaResponse"/>
</message>
<message name="Listado_usuario_oferta">
<part name="parameters" element="tns:Listado_usuario_oferta"/>
</message>
<message name="Listado_usuario_ofertaResponse">
<part name="parameters" element="tns:Listado_usuario_ofertaResponse"/>
</message>
<portType name="UsuarioOfertaService">
<operation name="Crear_usuario_oferta">
<input wsam:Action="http://Servicios/UsuarioOfertaService/Crear_usuario_ofertaRequest" message="tns:Crear_usuario_oferta"/>
<output wsam:Action="http://Servicios/UsuarioOfertaService/Crear_usuario_ofertaResponse" message="tns:Crear_usuario_ofertaResponse"/>
</operation>
<operation name="Eliminar_usuario_oferta">
<input wsam:Action="http://Servicios/UsuarioOfertaService/Eliminar_usuario_ofertaRequest" message="tns:Eliminar_usuario_oferta"/>
<output wsam:Action="http://Servicios/UsuarioOfertaService/Eliminar_usuario_ofertaResponse" message="tns:Eliminar_usuario_ofertaResponse"/>
</operation>
<operation name="Listado_usuario_oferta">
<input wsam:Action="http://Servicios/UsuarioOfertaService/Listado_usuario_ofertaRequest" message="tns:Listado_usuario_oferta"/>
<output wsam:Action="http://Servicios/UsuarioOfertaService/Listado_usuario_ofertaResponse" message="tns:Listado_usuario_ofertaResponse"/>
</operation>
</portType>
<binding name="UsuarioOfertaServicePortBinding" type="tns:UsuarioOfertaService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Crear_usuario_oferta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminar_usuario_oferta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Listado_usuario_oferta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UsuarioOfertaService">
<port name="UsuarioOfertaServicePort" binding="tns:UsuarioOfertaServicePortBinding">
<soap:address location="http://localhost:21823/MisOfertasWebService/UsuarioOfertaService"/>
</port>
</service>
</definitions>