src/java/META-INF/ValoracionService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicios/" name="ValoracionService">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicios/" schemaLocation="http://localhost:21823/MisOfertasWebService/ValoracionService?xsd=1"/>
</xsd:schema>
</types>
<message name="Crear_valoracion">
<part name="parameters" element="tns:Crear_valoracion"/>
</message>
<message name="Crear_valoracionResponse">
<part name="parameters" element="tns:Crear_valoracionResponse"/>
</message>
<message name="Listado_valoraciones">
<part name="parameters" element="tns:Listado_valoraciones"/>
</message>
<message name="Listado_valoracionesResponse">
<part name="parameters" element="tns:Listado_valoracionesResponse"/>
</message>
<message name="Eliminar_valoracion">
<part name="parameters" element="tns:Eliminar_valoracion"/>
</message>
<message name="Eliminar_valoracionResponse">
<part name="parameters" element="tns:Eliminar_valoracionResponse"/>
</message>
<message name="Modificar_valoracion">
<part name="parameters" element="tns:Modificar_valoracion"/>
</message>
<message name="Modificar_valoracionResponse">
<part name="parameters" element="tns:Modificar_valoracionResponse"/>
</message>
<portType name="ValoracionService">
<operation name="Crear_valoracion">
<input wsam:Action="http://Servicios/ValoracionService/Crear_valoracionRequest" message="tns:Crear_valoracion"/>
<output wsam:Action="http://Servicios/ValoracionService/Crear_valoracionResponse" message="tns:Crear_valoracionResponse"/>
</operation>
<operation name="Listado_valoraciones">
<input wsam:Action="http://Servicios/ValoracionService/Listado_valoracionesRequest" message="tns:Listado_valoraciones"/>
<output wsam:Action="http://Servicios/ValoracionService/Listado_valoracionesResponse" message="tns:Listado_valoracionesResponse"/>
</operation>
<operation name="Eliminar_valoracion">
<input wsam:Action="http://Servicios/ValoracionService/Eliminar_valoracionRequest" message="tns:Eliminar_valoracion"/>
<output wsam:Action="http://Servicios/ValoracionService/Eliminar_valoracionResponse" message="tns:Eliminar_valoracionResponse"/>
</operation>
<operation name="Modificar_valoracion">
<input wsam:Action="http://Servicios/ValoracionService/Modificar_valoracionRequest" message="tns:Modificar_valoracion"/>
<output wsam:Action="http://Servicios/ValoracionService/Modificar_valoracionResponse" message="tns:Modificar_valoracionResponse"/>
</operation>
</portType>
<binding name="ValoracionServicePortBinding" type="tns:ValoracionService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Crear_valoracion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Listado_valoraciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Eliminar_valoracion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Modificar_valoracion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ValoracionService">
<port name="ValoracionServicePort" binding="tns:ValoracionServicePortBinding">
<soap:address location="http://localhost:21823/MisOfertasWebService/ValoracionService"/>
</port>
</service>
</definitions>